<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/auth}"
>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <div
      layout:fragment="content"
      class="min-h-screen w-full flex items-center justify-center bg-[#0a1e3f] py-12"
    >
      <div class="w-full max-w-sm rounded-xl overflow-hidden shadow-2xl">
        <div class="bg-slate-300 py-6 px-8">
          <h2 class="text-2xl font-bold text-center text-[#0a1e3f]">
            Set up New Password
          </h2>
        </div>
        <div class="bg-white px-8 py-8">
          <form
            th:action="@{/forgot-password/reset}"
            th:object="${resetForm}"
            method="post"
            class="space-y-4"
          >
            <div>
              <label class="block text-sm font-bold text-slate-900 mb-1"
                >New Password</label
              >
              <div class="relative">
                <input
                  type="password"
                  name="newPassword"
                  id="newPassword"
                  class="w-full rounded-lg border border-slate-300 px-3 py-2 text-sm focus:border-[#0a1e3f] focus:outline-none focus:ring-1 focus:ring-[#0a1e3f]"
                />

                <button
                  type="button"
                  onclick="togglePassword()"
                  class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600"
                >
                  <svg
                    id="eyeIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8Z" />
                    <circle cx="12" cy="12" r="3" />
                  </svg>
                </button>
              </div>
              <p
                th:if="${#fields.hasErrors('newPassword')}"
                th:errors="*{newPassword}"
                class="text-red-600 text-xs mt-1"
              ></p>
            </div>

            <div>
              <label class="block text-sm font-bold text-slate-900 mb-1"
                >Confirm New Password</label
              >
              <div class="relative">
                <input
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  class="w-full rounded-lg border border-slate-300 px-3 py-2 text-sm focus:border-[#0a1e3f] focus:outline-none focus:ring-1 focus:ring-[#0a1e3f]"
                />

                <button
                  type="button"
                  onclick="toggleConfirmPassword()"
                  class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600"
                >
                  <svg
                    id="eyeIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8Z" />
                    <circle cx="12" cy="12" r="3" />
                  </svg>
                </button>
              </div>
              <p
                th:if="${#fields.hasErrors('confirmPassword')}"
                th:errors="*{confirmPassword}"
                class="text-red-600 text-xs mt-1"
              ></p>
            </div>
            <button
              type="submit"
              class="w-full rounded-lg bg-[#0a1e3f] px-5 py-2.5 text-sm font-semibold text-white hover:bg-[#112d5a]"
            >
              Reset Password
            </button>
          </form>
        </div>
      </div>
      <script>
        function togglePassword() {
          const input = document.getElementById("newPassword");
          input.type = input.type === "password" ? "text" : "password";
        }

        function toggleConfirmPassword() {
          const input = document.getElementById("confirmPassword");
          input.type = input.type === "password" ? "text" : "password";
        }
      </script>
    </div>
  </body>
</html>
